
.background{
    background-image: url("images/vic-nCGj-L7Lc5E-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1000px;
    background-color: aquamarine;
    border-radius: 10px;
    margin-bottom: 3px;
}


.blocks {
    width: 70%;
    height: 377px;
    padding: 10px;
    font-size: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    float: left;
    font-family: 'East Sea Dokdo', cursive;
    background-color: rgba(65, 67, 70, 0.767);
    margin-bottom: 3px;
}

.menu {   
    width: 9%;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    font-style: italic;
    border-radius: 10px;
    float: left;
    margin: 5px;
    color: #FFFDFC ;
}

.line {
    background-color: hsl(29, 89%, 55%) ;
    height: 100px;
    font-size: 10px;
    border-radius: 5px;
    line-height: 70px;
    width: 100%;
    margin: 3px;
    
}

.centered {
    position: absolute;
    top: 35%;
    width: 40%;
    left: 4%;
    height: 200px;
    font-size: 50px;
    font-family: 'Nerko One', cursive;
    color: #FFFDFC ;
  }

  .centeredsmall {
    position: absolute;
    top: 42%;
    left: 4.5%;
    width: 40%;
    height: 200px;
    font-size: 25px;
    font-family: 'Nerko One', cursive;
    color: #FFFDFC ;
  }

.footer{
    width: 98%;
    height: 130px;
    padding: 20px;
    background-color: rgba(65, 67, 70, 0.767);
    float: left;
}

.foot{
    
    width: 50%;
    float: left;
    color: #FFFDFC;
}







.pricingbg{
    background-color:#e6dcd8;
    width: 100%;
    margin-bottom: 10px;
    float: left;
    
}

.pmenu {   
    width: 12%;
    height: 100px;
    font-size: 30px;
    line-height: 80px;
    text-align: center;
    font-style: italic;
    border-radius: 10px;
    float: left;
    margin: 5px;
    margin-bottom: 5px;
    color: #77645c ;
    border-radius: 20px;
}

.ppad{
    width: 70%;
    height: 1500px;
    background-color:rgb(232, 240, 222);
    margin: auto;
    margin-top: 5px;
}

.pplans{
    width: 30%;
    margin-left: 20px;
    height: 500px;
    position: relative;
    top: 300px;
    left: 1%;
    float: left;
    font-style: initial;
    font-size: 30px;
    background-color: rgb(191, 199, 181);
}

.buttonstyle{
    background-color:#5a5aeb ;
    margin-left: 15%;
    width: 40%;
    height: 70px;
    font-size: 30px;
    line-height: 70px;
    color: lightcyan;
}
